@using KavifxApp.Models.DTO

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_dashboardlayout.cshtml";
}

<h1> Users </h1>

<div class="text-right">
    <a asp-action="Register" asp-controller="Account" class="btn btn-success btn-md">Create User</a>
</div>

<div class="container-fluid my-5">
    <div class="table-responsive">
        <table id="tbl_users" class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/User/Index',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#employeeTable').DataTable({
                    data: data,
                    columns: [
                        { data: 'id' },
                        { data: 'firstName' },
                        { data: 'lastName' },
                        { data: 'Email' }
                    ]
                });
            },
            error: function () {
                alert('Error fetching data');
            }
        });
    });
</script>
